h1 {
    font-size: 3em;
    color:green;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }

p {
    color: blue;
}

li {
    color: blue;
}

h4{
    color:rgb(200, 0, 10);
}
